<h1>Foto nueva:</h1>

<%= form_tag({:action => 'guardar_foto'}, {:multipart => true} ) do%>
  <p>
  	<label for='foto_titulo'>Titulo</label>
  	<br/>
  	<%= text_field 'foto', 'titulo'%>
  </p>
     <p>
     	<label for='foto_descripcion'>Descripcion</label>
     	<br/>
     	<%= text_area 'foto', 'descripcion'%>
     </p>
     <p>
      <%= file_field 'foto', 'image'%>
     </p>
        <%= submit_tag "Enviar" %>
<%end%>