
<% if flash[:notice] %>
    <div class="alert alert-success"><h1><%= flash[:notice] %></h1></div>
  <% end %><br>

  

<ul>
	<% for foto in @fotos %>
	<div class="panel panel-primary">
	    <div class="panel-heading">
		    <h2><%= foto.titulo %></h2><h4>Subido por <%= foto.usuario.nombre %></h4>
		</div>
		<div class="panel-body">
		    <p><%= image_tag foto.image_url.to_s %></p>
		    <h1><small><p><%= foto.descripcion %></p></small></h1>
		</div>
	    
	</div>
	<% end %>
</ul>
