<% if flash[:notice] %>
<div class="alert alert-danger"><h1><%= flash[:notice] %></h1></div>
<% end %>
<div class="jumbotron">
<h1>Registro:</h1>

<%= form_tag :action => :registrar_usuario do%>
  <p>
    
    <%= text_field 'usuario', 'nombre', :placeholder=>"Nombre"%>
  </p>

  <p>
   
    <%= text_field 'usuario', 'emal', :placeholder=>"Correo Electronico"%>
  </p>
     <p>
      
      <%= password_field 'usuario', 'password', :placeholder=>"Contraseña"%>
     </p>
     <div class="inicio">
       <p><input type= "submit" value="Enviar"></p>
      </div>
<%end%>
</div>